ion-toolbar{
    --background: indianred;
    --color: white;
    text-transform: uppercase;
}
.items {
    padding: 5px 10px;
}
.actionbutton{
    width: 90%;
    background-color: indianred;
    border-radius: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}